.container
{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}

.sub-containers
{
    border: 10px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
}

.sub-container
{
    /* border: 10px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
}



.color
{
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    animation-name: example;
    animation-duration:10s
}



@keyframes example {
    0%   { background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.simple
{
    background-color: gray;
    animation-name: example1;
    animation-duration:10s
}

@keyframes example1 {
    0%   { background-color: gray}
    25%  {background-color: gray}
    50%  {background-color: gray}
    100% {background-color: gray;}
}


.button-container
{
    display: flex;
    justify-content: center;
    margin: 3%;
    gap: 15%;
}

button{
    width: 10%;
    height: 35px;
    border-radius: 5px;
}
